algoliasearch>=2.0,<3.0
appdirs==1.4.3
boto3==1.10.2
botocore==1.13.2
certifi==2019.9.11
chardet==3.0.4
Click==7.0
docutils==0.15.2
idna==2.8
jmespath==0.9.4
pip-tools==4.5.1
python-dateutil==2.8.0
requests==2.22.0
requests-aws4auth==0.9
six==1.12.0
urllib3==1.25.6
virtualenv==16.7.3
